*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	background-image: url('./assets/hero_desktop.webp');
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container {
	max-width: 1350px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.header {
	margin-top: 0.5rem;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.header .header-logo {
	position: relative;
	left: 42%;
	display: flex;
	align-items: center;
}

.header .header-logo h2 {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 1.5rem;
	font-weight: 600;
	margin-left: 0.5rem;
}
.header a {
	text-decoration: none;
}

.header .btn {
	border: none;
	border-radius: 20px;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	font-weight: 600;
	cursor: pointer;
}

.header .sign-in-btn {
	background-color: #eb1700;
	color: #ffffff;
}

.header .sign-up-btn {
	background-color: #ffffff;
	color: #606060;
}

.main {
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main .title {
	color: #ffffff;
	font-size: 2.3rem;
}
